.logo {
  max-width: 100%;
  display: flex;
  & img {
    width: 100%;
  }
}

.body {
  width: 100%;
}
.containerWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #fff;
  min-height: 100vh; /* Ensure the container takes up the full viewport height */
  background-size: cover;
  background-image: url(http://localhost:3000/static/media/IMG_3465.ea8aec0….gif);
  background-repeat: no-repeat;
  background-position: 0 60%;
}
.container-clan {
  width: 100%;
  height: auto;
  padding: 1rem 0;
}

.container-clan:nth-child(2n + 1) {
  background-color: gray;
}
.container-clan > div {
  text-align: center;
  position: relative;
  margin: 0rem auto 3rem;
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

img {
  width: 50%;
}

.clan_order {
  align-items: center;
  display: grid;
  font-size: 21px;
  grid-template-columns: 0% 25% auto 0%;
  margin: 1rem -2rem;
  @media (min-width: 736px) {
    grid-template-columns: 0% 10% auto 50%;
    margin: 1rem 0rem;
  }
  & p {
    grid-column: 3;
    text-align: left;
    margin: 4px 1rem;
  }
  & > img {
    grid-column: 2;
    grid-row: 1 / 3;
    margin: 0 auto;
    width: 100%;
    @media (min-width: 736px) {
      grid-row: 1;
    }
  }
}

.clan_name {
  grid-column: 3;
  grid-row: 1;
  color: #000;
}
.clan_id {
  grid-column: 4;
  grid-row: 1;
  width: max-content;
  padding: 0 10px;
  border-radius: 10px;
  align-self: center;
  background-color: #710627;
  color: #fff;
  justify-content: flex-end;
  @media (max-width: 736px) {
    grid-row: 2;
    grid-column: 3;
  }
}
.clan_id__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  & a {
    align-self: center;
    text-decoration: none;
  }
}

.clan_desc {
  max-width: 75%;
  width: 100%;
  margin: 0 auto;
  & h2 {
    margin: 0;
  }
  & p {
    font-size: 14px;
  }
}

.wrapperDiscord {
  background-color: #000000;
  text-align: center;
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0 auto;
  @media (max-width: 736px) {
    flex-direction: row;
  }
  > a {
    display: inline-flex;
    padding: 0 1rem;
    color: #fff;
    margin: 0 auto;
    background-color: #000;
    border-radius: 0.5rem;
    text-decoration: none;
    > img {
      width: 50%;
      padding: 15px;
      margin: 0 auto;
      @media (max-width: 736px) {
        width: 80%;
      }
    }
  }
  > a:nth-child(2) > img {
    margin: 0;
    @media (max-width: 736px) {
      margin: 0 auto;
    }
  }
}

.madeFor {
  grid-row: 3;
  > ul {
    margin-left: 20px;
    padding-left: 0;
    list-style-type: disc;
    font-size: 14px;
    > li {
      text-align: left;
      padding: 4px 5px;
      &:nth-child(2n) {
        color: rgb(0, 0, 0);
      }
    }
  }
  > ul li::marker {
    color: #710627;
  }
}
.clan_rules {
  max-width: 75%;
  width: 100%;
  margin: 0 auto;
  @media (min-width: 768px) {
    margin-bottom: 2rem;
  }
  > span ul {
    list-style-type: auto;
    padding: 0rem 1rem;
  }
  > span ul li {
    font-size: 14px;
    padding: 3px 0;
  }
  > span ul li::marker {
    font-size: 16px;
  }
  > span ul li #red {
    color: red;
  }
  > span ul li #green {
    color: green;
  }
  > span ul li:nth-child(2) {
    color: red;
  }
  > span ul li:nth-child(2) span {
    color: black;
    text-decoration: none;
  }
}
.containerBody {
  position: relative;
  width: 100%;
  @media (min-width: 736px) and (max-width: 1024px) {
    margin-top: 60px;
  }
  @media (max-width: 736px) {
    margin-top: 120px;
  }
}
.clan_desc_wrapper {
  background-color: gray;
  padding: 20px 0;
}

.FirstRow,
.FourthRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--dark);
}
.FourthRow {
  display: grid;
  border-radius: 50px;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(0deg, #6520b9, #6520b9),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.FifthRow {
  display: grid;
  border-radius: 50px;
  grid-template-columns: 2fr 1.5fr;
  background: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.FirstRow__left,
.FourthRow__left,
.FifthRow__left {
  grid-column: 1;
  color: var(--text);
  margin: 12rem 9rem;
  > h1 {
    font-size: 40px;
    font-weight: 400;
  }
  > p {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
  }
}
.FirstRow__right {
  grid-column: 2;
  > img {
    width: 100%;
    transform: rotateY(-180deg);
  }
}

.FourthRow__left {
  grid-column: 1;
  color: var(--text);
  display: flex;
  flex-direction: column;
  margin: 6rem 9rem;
  > h1 {
    font-size: 40px;
    font-weight: 400;
  }
  > p {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
  }
  > button {
    width: 290px;
    height: 60px;
    padding: 12px 10px 12px 10px;
    gap: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "ClashRegular";
    font-size: 16px;
    margin: 0.5rem 0;
    background: transparent;
    color: var(--text);
    border-radius: 6px;
    border: 1px solid #ffffff;
  }
}
.FourthRow__right {
  grid-column: 2;
  > img {
    width: 100%;
    top: -5rem;
    position: relative;
  }
}
.FifthRow__right {
  grid-column: 2;
  > video {
    width: 60%;
    position: relative;
  }
}
.FifthRow__left {
  > button {
    width: 290px;
    height: 60px;
    padding: 12px 10px 12px 10px;
    gap: 10px;
    cursor: pointer;
    background: var(--purple);
    text-transform: uppercase;
    font-family: "ClashRegular";
    font-size: 16px;
    margin: 0.5rem 0;
    color: var(--text);
    border-radius: 6px;
    border: none;
  }
}

.SixthRow {
  display: grid;
  border-radius: 50px;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.SixthRow__left {
  grid-column: 1;
  margin: 9rem 8rem;
  > img {
    width: 80%;
    position: relative;
  }
}

.SixthRow__right {
  grid-column: 2;
  color: var(--text);
  display: flex;
  flex-direction: column;
  margin: 14rem 9rem 14rem 0;
  > h1 {
    font-size: 40px;
    font-weight: 400;
  }
  > p {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
  }
}

footer {
  color: var(--text);
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(3, 1fr);
  > p {
    grid-column: auto;
    text-align: center;
  }
  > div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    > a {
      color: var(--text);
      text-decoration: none;
    }
  }
}
.ThirdRow {
  display: grid;
  border-radius: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  color: var(--text);
  background: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.SecondRow {
  display: grid;
  color: var(--text);
  border-radius: 50px;
  background: url("../../assets/24938d50cc003a20c371eddc99ddf14f.png");
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  background-size: cover;
}
.SecondRow__top {
  grid-column: 1 / 5;
  grid-row: 1;
  text-align: center;
  margin-top: 1rem;
}
.SecondRow__middle {
  display: grid;
  grid-row: 2;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 3.5rem;
  padding: 1rem;
  gap: 3.5rem;
}
#raid-weekend {
  display: grid;
  > h1 {
    text-align: center;
    margin: 3rem auto;
    color: #fff;
    grid-column: 2 / 4;
  }
}
.raid-wrapper {
  display: grid;
  grid-row: 2;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 1rem 3.5rem;
  padding: 1rem;
  gap: 3.5rem;
  > p {
    color: #fff;
  }
}
.clanWrapper {
  border: 1px solid var(--white);
  grid-row: 1;
  border-radius: 6px;
  display: grid;
  flex-direction: column;
  grid-column: auto;
  grid-template-rows: 1fr repeat(2, 0.3fr) 0.6fr 0.2fr 0.4fr;
  > img:first-of-type {
    width: 65%;
    margin: -4rem auto;
    top: 0rem;
    position: relative;
  }
  > p {
    text-align: center;
    padding: 0rem 1rem;
    color: #fff;
  }
  > h3 {
    text-align: center;
    font-size: 32px;
    margin: 0;
    color: #fff;
  }
  > span {
    text-align: center;
    color: #fff;
  }
  > button {
    height: 40px;
    gap: 10px;
    padding: 8px 16px;
    width: max-content;
    cursor: pointer;
    font-size: 16px;
    font-family: "ClashRegular";
    color: var(--text);
    margin: 2rem auto;
    border-radius: 6px;
    border: none;
    justify-content: center;
    background: linear-gradient(0deg, #6520b9, #6520b9),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  }
}
.SecondRow__bottom {
  grid-row: 3;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 4.5rem 3.5rem 0 3.5rem;
  padding: 1rem;
  gap: 3.5rem;
}
.SecondRow__under-bottom {
  grid-row: 4;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 4.5rem 3.5rem 0 3.5rem;
  padding: 1rem;
  gap: 3.5rem;
}
.ThirdRow__top {
  grid-column: 1 / 3;
  grid-row: 1;
  grid-template-columns: 1fr 1.5fr;
  text-align: center;
  display: grid;
  margin-top: 1rem;
  > img {
    grid-row: 1;
    margin-bottom: 4rem;
    width: 75%;
    justify-self: flex-end;
  }
  > h1 {
    text-align: left;
    grid-row: 1;
    margin-left: 4rem;
    font-size: 40px;
  }
}
.ThirdRow__left {
  grid-column: 1;
  grid-row: 2;
  margin: 0rem 5rem 9rem 9rem;
  > img {
    width: 64px;
  }
}
.ThirdRow__right {
  grid-column: 2;
  grid-row: 2;
  margin: 0rem 9rem 9rem 5rem;
  > img {
    width: 64px;
  }
}
.carousel {
  display: none;
}
.clan-badge {
  margin: 0 auto;
  width: 60px;
}
.wallpaper-btn {
  width: 290px;
  height: 60px;
  padding: 12px 10px 12px 10px;
  gap: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "ClashRegular";
  font-size: 16px;
  margin: 0.5rem auto;
  background: transparent;
  color: var(--text);
  border-radius: 6px;
  border: 1px solid #ffffff;
}
.wallpaper-wrapper {
  width: 100%;
  display: flex;
  background-color: #6520b9;
}
@media (max-width: 736px) {
  .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carousel__header {
    margin-bottom: 20px;
  }

  .carousel__content {
    display: flex;
    align-items: center;
    position: relative;
  }

  .carousel__button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    top: 0;
    color: white;
    margin: 0 auto;
  }

  .carousel__item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clanWrapper {
    text-align: center;
    max-width: 330px;
    height: 440px;
    grid-row: auto;
  }

  .carousel__pagination {
    margin-top: 10px;
    display: flex;
    gap: 8px;
  }

  .pagination__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
  }

  .pagination__dot.active {
    background-color: blue;
  }
  .paginatorWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1rem auto;
    > button {
      margin: 0 auto;
    }
  }

  .containerBody {
    margin-top: 0;
  }
  .FirstRow {
    grid-template-columns: 1fr;
    > .FirstRow__right {
      display: none;
    }
    > .FirstRow__left {
      margin: 2rem 2rem;
      > h1 {
        line-height: 32px;
        font-size: 32px;
        text-align: center;
      }
      > p {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 1px;
        text-align: center;
      }
    }
  }
  .SecondRow {
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1fr;
    border-radius: 0px;
    > .SecondRow__middle {
      display: none;
    }
    > .SecondRow__bottom {
      display: none;
    }
    > .SecondRow__under-bottom {
      display: none;
    }
  }
  .ThirdRow {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    > .ThirdRow__top {
      grid-column: 1;
      grid-template-columns: auto;
      grid-row: 1;
      > h1 {
        text-align: center;
        margin: 0;
      }
      > img {
        display: none;
      }
    }
    > .ThirdRow__left {
      margin: 2rem 2rem;
      grid-column: 1;
      grid-row: 2;
      > img {
        width: 15%;
        margin: 0 auto;
        display: flex;
      }
      > h1 {
        text-align: center;
        text-transform: uppercase;
      }
      > p {
        text-align: center;
        font-family: "Inter";
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 24px;
      }
    }
    > .ThirdRow__right {
      margin: 2rem 2rem;
      grid-column: 1;
      grid-row: 3;
      > img {
        width: 15%;
        margin: 0 auto;
        display: flex;
      }
      > h1 {
        text-align: center;
        text-transform: uppercase;
      }
      > p {
        text-align: center;
        font-family: "Inter";
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 24px;
      }
    }
  }
  .FourthRow {
    grid-template-columns: 1fr;
    border-radius: 0px;
    > .FourthRow__right {
      display: none;
    }
    > .FourthRow__left {
      margin: 6rem 1rem;

      > h1 {
        text-align: center;
      }
      > p {
        text-align: center;
      }
      > button {
        width: 100%;
        cursor: pointer;
      }
    }
  }
  .FifthRow {
    grid-template-columns: 1fr;
    > .FifthRow__left {
      margin: 2rem 2rem;
      grid-column: 1;
      > button {
        width: 100%;
      }
      > h1 {
        text-align: center;
      }
      > p {
        text-align: center;
      }
    }
    > .FifthRow__right {
      grid-column: 1;
      grid-row: 1;
      margin: 2rem 2rem;
      text-align: center;
    }
  }
  .SixthRow {
    grid-template-columns: 1fr;
    > .SixthRow__right {
      grid-column: 1;
      margin: 2rem 2rem;
      text-align: center;
    }
    > .SixthRow__left {
      grid-column: 1;
      margin: 2rem 2rem;
      > img {
        width: 50%;
        position: relative;
        margin: 0 auto;

        display: flex;
      }
    }
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  #raid-weekend {
  }
  .raid-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    margin: 0 auto;
  }
}
